<style>

    body {
        background-repeat: no-repeat;
        background-size: cover;         
   };

</style>

    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 style="color:rgb(240, 138, 138);">Hello and Welcome.</h1>
            
            <a style="text-decoration: none;" class="btn-sizing margin-right" href="/waiters"><button class="btn btn-outline-secondary " style="width: 300px; height: 40%; font-size: 1.5em;" type="button" name="button">For Waiters</button></a>
            <a href="/days" class="btn-sizing" style="text-decoration: none"><button class="btn btn-outline-secondary" style="width: 300px; height: 40%; font-size: 1.5em;"  type="button" name="button">For Admin</button></a>            
        </div>
    </div>
</div>


